#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  

.header {
    position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

h1 {
    text-align: center;
    font-size: 4vw;
    font-size: 4vh;
    font-family: 'Kanit', sans-serif;
    font-family: 'Press Start 2P', cursive;
    margin: 5vh;
}

h2 {
    text-align: center;
    font-size: 2vw;
    font-size: 2vh;
    font-family: 'Kanit', sans-serif;
    font-family: 'Press Start 2P', cursive;
    margin: 5vh;
}

h3 {
    text-align: center;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

p {
    color: white;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

img {
    box-align: center;
    position: relative;
    margin: 50px;
    text-align: center;


}


.buttons {
    text-align: center;
}

.button1 {
    margin: 20px;
}
.button2 {
    margin: 20px;
}

button {
    position: relative;
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: azure;
    color: black;
}

.infos {
    text-align: center;
    position: relative;
}

.socialmedia {
    text-align: center;
}

.logo1{
    text-align: center;
}

.aboutus {
    position: relative;
    color: white;
    text-align: center;
}

.timeline {
    position: relative;
    color: white;
    text-align: center;
}

h4 {
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

h5 {
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

.Communitybuilding {
    position: relative;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.launch {
    position: relative;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.coingecko {
    position: relative;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}